* {
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
}

.navbar {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 6fr;
    background-color: #314028;
    padding: 30px;
    color: beige;
}

.navbar ul {
    display: flex;
    gap: 30px;
}

.navbar ul a {
    text-decoration: none;
    color: beige;
    
}

.navbar ul a:hover {
    transform:scale(1.05);
    transition: 0.3s ease-out;
    color: white;
}

.pfp {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: solid 3px;
    border-color: #314028;
}

.home {
    align-items: center;
    padding: 200px;
    margin: 0;
    border: 0;
    color: #314028;
    background-color: beige;
}

.intro {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    align-items: center;
    padding: 200px;
    margin:auto;
    background-color: beige;
    color: #314028;
}

.projects {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    align-items: center;
    padding: 200px;
    margin:auto;
    color: #314028;
    background-color: beige;
}

.project1 {
    width: 400px;
}

.pro1 {
    color: #f4f1e8;
}

.skills {
    align-items: center;
    padding: 200px;
    margin:auto;
    color: #314028;
    background-color: beige;
}

.contacts {
    align-items: center;
    padding: 200px;
    margin:auto;
    background-color: beige;
    color: #314028;
}

.contacts a {
    text-decoration: none;
    color: #314028;
}

.contacts a:hover {
    transform: scale(1.05);
    transition: width 0.3s ease-out;
    color: grey;
}


.bottom {
    background-color: #314028;
    text-align: center;
    padding: 30px;
    color: beige; 
}