* {
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    inline-size: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 auto;
    width: 100%
}

body {
    margin: 0;
}

.wrapper {
    position: sticky;
    top: 0;
    overflow: hidden;
    width: 100%;
    
}

.navbar {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 6fr;
    background-color: #314028;
    padding: 30px;
    color: beige;
}

.navbar ul {
    display: flex;
    gap: 30px;
}

.navbar ul a {
    text-decoration: none;
    color: beige;
    
}

.navbar ul a:hover {
    transform:scale(1.05);
    transition: 0.3s ease-out;
    color: white;
}

.pfp {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: solid 3px;
    border-color: #314028;
}

.intro {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    align-items: center;
    padding: 155px;
    margin:auto;
    background-color: beige;
    color: #314028;
}

.proj {
    padding: 200px;
    background-color: beige;
    border-radius: 20px;
}

.border {
    border: 2px solid #314028;
    border-radius: 20px;
    padding: 50px;
}

.proj-title {
    color: #314028;
    background-color: beige;
    text-align: left;
}

.realprojects {
    gap: 50px;
    padding: 50px;
    
}

.projects {
    align-items: center;
    margin:auto;
    color: #314028;
    background-color: beige;
    
}

.card1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid #314028;
    border-radius: 20px;
    padding: 50px;
    margin: 20px;
    transition: 0.3s;
}

.card1:hover {
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.card-left-content, .card-left-content2 {
    padding: 10px;
}

.card-right-content, .card-right-content2 {
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card-right-content img, .card-right-content2 img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
}

.card2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid #314028;
    border-radius: 20px;
    padding: 50px;
    margin: 20px;
    transition: 0.3s;
}

.card2:hover {
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.card3 {
    border: 2px solid #314028;
    border-radius: 20px;
    padding: 50px;
    margin: 20px;
    transition: 0.3s;
}

.card3:hover {
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.pro1, .pro2{
    color: #314028;
    transition: 0.3s;
    border: solid;
    border-radius: 20px;
    text-decoration: none;
    padding: 5px;
}

.pro1 a:hover, .pro2 a:hover {
    transform: scale(1.05);
    transition: width 0.3s ease-out;
}

.border2 {
    border: 2px solid #314028;
    border-radius: 20px;
    padding: 20px;
}

.skills {
    align-items: center;
    padding: 200px;
    margin:auto;
    color: #314028;
    background-color: beige;
}

.skills div h2 {
    padding: 20px;
}

.languages {
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-size: 48px;
}

.sharp {
    border: 2px solid #314028;
    border-radius: 20px;
    padding: 50px;
    margin: 20px;
    transition: 0.3s;
}

.html {
    border: 2px solid #314028;
    border-radius: 20px;
    padding: 50px;
    margin: 20px;
    transition: 0.3s;
}

.css {
    border: 2px solid #314028;
    border-radius: 20px;
    padding: 50px;
    margin: 20px;
    transition: 0.3s;
}

.python {
    border: 2px solid #314028;
    border-radius: 20px;
    padding: 50px;
    margin: 20px;
    transition: 0.3s;
}

.sharp:hover {
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.html:hover {
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.css:hover {
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.python:hover {
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.contacts {
    align-items: center;
    padding: 200px;
    margin:auto;
    background-color: beige;
    color: #314028;
}

.contacts a {
    text-decoration: none;
    color: #314028;
}

.contacts a:hover {
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 10;
}


.bottom {
    background-color: #314028;
    text-align: center;
    padding: 30px;
    color: beige; 
}