* {
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    inline-size: border-box;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    position: sticky;
    top: 0;
    overflow: hidden;
}

.navbar {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 6fr;
    background-color: #314028;
    padding: 30px;
    color: beige;
}

.navbar ul {
    display: flex;
    gap: 30px;
}

.navbar ul a {
    text-decoration: none;
    color: beige;
    
}

.navbar ul a:hover {
    transform:scale(1.05);
    transition: 0.3s ease-out;
    color: white;
}

.pfp {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: solid 3px;
    border-color: #314028;
}

.intro {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    align-items: center;
    padding: 155px;
    margin:auto;
    background-color: beige;
    color: #314028;
}

.proj {
    padding: 200px;
    background-color: beige;
}

.proj-title {
    color: #314028;
    background-color: beige;
    text-align: left;
}

.realprojects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    
}

.projects {
    align-items: center;
    margin:auto;
    color: #314028;
    background-color: beige;
}

.project1 {
    width: 300px;
}

.pro1 {
    color: #314028;
}

.skills {
    align-items: center;
    padding: 200px;
    margin:auto;
    color: #314028;
    background-color: beige;
}

.skills div h2 {
    padding: 20px;
}

.languages {
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-size: 48px;
}

.contacts {
    align-items: center;
    padding: 200px;
    margin:auto;
    background-color: beige;
    color: #314028;
}

.contacts a {
    text-decoration: none;
    color: #314028;
}

.contacts a:hover {
    transform: scale(1.05);
    transition: width 0.3s ease-out;
    color: grey;
}


.bottom {
    background-color: #314028;
    text-align: center;
    padding: 30px;
    color: beige; 
}